extends ../layout

block content
  -var info = info || false
  if info
    h1.red-text=info
    br
    hr
    br
  form(method='POST', action='/auth/login')
    h2 What is the password!?
    input.input(type='username', name='username', placeholder='doesnt matter..')
    input.input(type='password', name='password', placeholder='Password')
    br
    button(type='submit') Submit you answer...
