
extends layout

block content
  video#video(autoplay)
  canvas#canvas
  .row.text-center
    h2 fuck it, ship it
    p this installation lets you record yourself, and see what you are doing at the same time as The Front installation.
  .row
    hr
  .row
    .col-xs-12.text-center
      h3 #{username}'s channel
  .row
    .col-xs-12
      br
  .row
    .col-xs-6
      h5.text-center #{username}
      #userFrame(style='background-image: url("/img/jamiedoe.png");')
      h4.user-time.text-center
    .col-xs-6
      h5.text-center meanwhile at the front...
      #frontFrame(style='background-image: url("/img/front.png");')
      h4.front-time.text-center
  .row
    br
    .col-xs-8.col-xs-offset-2.form-inline
      h4.text-center pick a start date and time
      .form-group.col-xs-4
        label.col-xs-4 date
        .col-xs-8
          input.form-control(type='text', name='date', placeholder='##')
      .form-group.col-xs-5
        label.col-xs-4 time
        .col-xs-8
          input.form-control(type='time', name='time')
      .form-group.col-xs-3
        button.getTime.btn.btn-primary get time

  script
    this.a = this.a || {};
    this.a.playback = true
    this.a.username = "#{username}";
  != js('fuckit')
