extends layout

block content
  .row
    video#video(autoplay)
    canvas#canvas
    #stillFrame(style='background-image: url("/img/front.png");')
    label#frontRecorder
      h1 record
      input#record(type='checkbox')
  != js('writer')

